<app-header></app-header>
      <div class="welcome py-1">
        <div class="container py-xl-1 py-lg-1" id="services">
            <div class="row">
                <div class="col-lg-5 welcome-left">
                    <h3 class="title-w3ls mt-2 mb-3">Obigo 뱅크 서비스</h3>

                    <p class="mt-4 pr-lg-5">오비고 스프링 시큐리티를 연습을 위한 뱅킹 서비스 토이 프로젝트

                    </p>
                </div>
                <div class="col-lg-7 welcome-right text-center mt-lg-0 mt-5">
                    <div class="row">
                        <div class="col-sm-4 service-1-w3pvt serve-gd1">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-users s1"></span>
                                <p class="mt-2">신용 대출 </p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd2">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-handshake-o s2"></span>
                                <p class="mt-2">사업자 대출 </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-home s3"></span>
                                <p class="mt-2">주택 담보</p>
                            </div>
                        </div>
                        <div class="col-sm-4 service-1-w3pvt serve-gd3">
                            <div class="serve-grid mt-4">
                                <span class="fa fa-car s4"></span>
                                <p class="mt-2">자동차 보험 </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-stethoscope s5"></span>
                                <p class="text-li mt-2">건강 보험 </p>
                            </div>
                            <div class="serve-grid mt-4">
                                <span class="fa fa-graduation-cap s6"></span>
                                <p class="mt-2">학자금 대출 </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>